nav {
  z-index: 99;
  a,
  button {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    font-family: "walsheim", sans-serif;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
}

@media (min-width: 1024px) {
  .nav__primary {
    .navbar {
      order: 1;
    }
    .menu-dropdown {
      order: 2;
    }
  }
}

.menu-dropdown {
  display: block !important;
  position: fixed;
  height: 100vh;
  width: 70%;
  top: 0;
  bottom: 0;
  right: -70%;
  z-index: 99;
}

.nav__primary-open {
  .menu-dropdown {
    right: 0;
    animation:  simpleSlideNavIn .5s ease-in-out;
  }
  .meat {
    transform: translateX(-70%);
    height: 100%;
    overflow: hidden;
    animation: simpleSlideMeatOut .5s ease-in-out;
  }
}

@keyframes simpleSlideMeatOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-70%);
  }
}

@keyframes simpleSlideNavIn {
  0% {
    right: -70%;
  }
  100% {
    right: 0;
  }
}
