@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
    --primary: #fff;
    --secondary: #000;
    --tertiary: #00ff9f;
    --quartary: #ccc;
}

.theme-dark {
    --primary: #000;
    --secondary: #fff;
    --tertiary: #00ff9f;
    --quartary:  #ccc;
}