@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
    --primary: #FAFAFB;
    --secondary: #2f3337;
    --tertiary: #b8dcf5;
    --quartary: #0095ff;
}

.theme-dark {
    --primary: #2f3337 ;
    --secondary: #e7e8eb;
    --tertiary: #0095ff;
    --quartary: #b8dcf5;
}

:root {
    --light-gray: #98a0a4;
}