@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
    --primary: #fff;
    --secondary: #252A32;
    --tertiary: #00ff9f;
    --quartary: #ff7d42;
}

.theme-dark {
    --primary: #252A32;
    --secondary: #fff;
    --tertiary: #00ff9f;
    --quartary: #ff7d42;
}

:root {
    --light-gray: #98a0a4;
}